@textColor: #fff;
@backgroundColor: #000;
@backgroundDiagonalLines: repeating-linear-gradient(45deg, transparent, transparent 10px, #fff 10px, #fff 20px);

* { font-family: 'Inconsolata', monospace; }
body { background-color: @backgroundColor; color: @textColor; }
img { vertical-align: middle; }
a { text-decoration: none; }

.container {
    max-width: 1200px; margin: 0 auto;
    .content {
        .top-row {
            display: flex;
            .photo-block {
                display: flex;
                flex-direction: column;
                min-width: 350px;
                .photo {
                    img {
                        width: 100%;
                    }
                }
                .contact-button {
                    display: flex;
                    .contact-button-spacer {
                        flex: 2;
                        background: @backgroundDiagonalLines;
                    }
                    .button {
                        flex: 3;
                        text-align: center;
                        padding: 5px;
                        cursor: pointer;
                        span {
                            text-transform: uppercase;
                            font-size: 30px;
                            font-weight: 900;
                        }
                    }
                }
                .email {
                    text-align: center;
                    padding: 10px;
                    a {
                        font-size: 25px;
                        color: @textColor;
                    }
                }
                .contact-item {
                    display: flex;
                    a {
                        display: flex;
                        align-items: center;
                        font-size: 25px;
                        padding-left: 15px;
                        color: @textColor;
                    }
                    .service-icon {
                        padding: 5px;
                    }
                }
            }
        }
        .description-block {
            padding: 15px;
            .description {
                h3 {
                    margin: 0;
                    font-size: 32px;
                    text-transform: uppercase;
                    text-decoration: underline;
                    text-align: center;
                }
                p {
                    font-size: 20px;
                }
            }
            .english {
                font-size: 25px;
            }
        }
    }
}